*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: arial;
}

.container{
    width: 1146px;
    margin:auto;
}
.row{
    margin-left:-15px;
    margin-right:-15px;
}
.col-2{
    width: 12.66666667%;
    float: left;
    padding-left:  15px;
    padding-right: 15px;
}
.col-3{
    width: 25%;
    float: left;
    padding-left:  15px;
    padding-right: 15px;
}
.col-4{
    width: 33.33333333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-5{
    width: 41.66666667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-6{
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-7{
    width: 58.33333333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-12 {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.row::after,.container::after,
.col-2::after,
.col-3::after,
.col-4::after,
.col-6::after,
.hezi::after{
    display: table;
    clear: both;
    content:"";
}


@media (max-width: 768px) {
    .container{
        width: 320px;
    }
    .col-3{
        width: 100%;
    }
    .col-4{
        width: 100%;
    }
    .col-5{
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }

    .col-7{
        width: 100%;
    }
    .row{
        margin: 0;
    }
}





header{
    border-bottom:2px solid #e7e7e7;
    nav{
        .logo{
            float: left;
            img{
                margin-top:10px;
            }
        }
        ul{
            float: right;
            li{
                float: left;
                list-style: none;
                a{
                    display: block;
                    text-decoration:none; 
                    float: left;
                    padding:18px 17px;
                    font-size: 12px;
                    font-weight: bold;
                    color:#7a6565;
                    i{
                        display: block;
                        width: 13px;
                        height: 13px;
                        float: right;
                        background-image: url(../img/xia.png);
                        margin:0 5px;
                        background-repeat: no-repeat;
                    }
                }
                a:hover{
                        color:#355996;   
                    }
            }
            li:nth-of-type(6) a{
                background-color: #a1c72d;
                color:#fff;
                i{
                float: left;
                background-image: url(../img/fly.png);
                margin:0 5px;
            }
            } 
        }
    }
}
header::after,
header nav::after,
header nav .logo::after,
header nav ul::after,
.main::after,
.people::after{
    display: table;
    clear: both;
    content:"";
}
@media (max-width: 768px) {
    header{
        nav{
            .logo{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }

    }
}


.banner{
    width: 100%;
    height: 400px;
    background-image: url(../img/banner.png);
    background-size: 100%  100%;
    .container{
        text-align: center;
        padding-top: 100px;
        h2{
            font-size: 36px;
            color:#fff;
        }
        p{
            font-size: 18px;
            color:#fff;
            margin:27px 0;
        }
        a{
            display: inline-block;
            text-decoration: none;
            padding:14px 16px;
            font-size: 16px;
            font-weight: bold;
            color:#fff;
            border:4px solid #fff;
            border-radius: 5px;
        }
    }
}
.main{
    background-color: #5782b7;
    color:#6894ca;
    margin-bottom: 60px;
    .hezi{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        border-right:1px dashed #6894ca;
    }
    .last-hezi{
        border:0;
    }
    img{
        margin-bottom: 35px;
    }
}
@media (max-width: 768px) {
    .main{
        .hezi{
            border: 0;
        }
    }
}

.people{
    color:#65657a;
    h3{
        font-size: 18px;
    }
    .h3-p{
        font-size: 18px;
        line-height: 1.7em;
        margin-top: 15px;
    }
    .p-p{
        font-size: 13px;
        line-height: 1.7em;
        margin-top: 15px;
    }
}


@media (max-width: 768px) {
    .people{
        img{
            width: 100%;
        }
    }
}

.text{
    color:#65657a;
    margin: 60px;
    .hezi{
        margin-bottom: 15px;
        .blue-title{
            float: left;
            width: 60px;
            height: 60px;
            background-color: #406da4;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
            margin-bottom: 40px;
        }
        h3{
        font-size: 18px;
    }
        p{
            font-size: 13px;
        line-height: 1.7em;
        margin-top: 15px;
        }
    }
}

@media (max-width: 768px) {
    .text{
        .hezi{
            .blue-title{
                margin-bottom: 0;
            }
            h3{
                line-height: 50px ;
            }
        }
    }
}

.computer{
    margin-top:30px;
    .computer-top{
        text-align: center;
        margin-bottom:40px;
    }
    .computer-center{
        border-bottom: 1px solid #cccccc;
        text-align: center;
        padding-left:40px;
        padding-right:40px;
        h3{
            font-size: 18px;
            color:#406da4;
            margin-bottom:20px;
        }
        p{
            font-size: 18px;
            color:#7b7b7b;
            margin-bottom:37px;
        }
    }
    .computer-bottom{
        text-align: center;
        margin-top:-1px;
        ul{
            display:flex;
            justify-content:center;
            align-items:center;
            li{
                list-style: none;
                float: left;
                a{
                    display: inline-block;
                    padding: 16px;
                    text-decoration: none;
                    font-size: 12px;
                    color:#b9a1b9;
                    border-top:1px solid #cccccc;
                }
                a:hover,
                a.active {
                    border-top:1px solid #406da4;
                }
            }
        }
    }
}
//.computer .computer-bottom ul li a
@media (max-width: 768px) {
    .computer{
        img{
            width: 100%;
        }
        .computer-bottom{
            ul{
                li{
                    a{
                        padding: 0;
                        border:0;
                    }
                    a.active{
                        border:0;
                    }
                    a:hover{
                        color:#406da4;
                    }
                }
            }
        }
    }
}
section.recent{
    margin: 40px;
    h3{
       font-size: 16px;
        color:#656565;
    }
    p{
        font-weight: bold;
        color:#656565;
        line-height: 1.8em;
    }
    a{
        float: right;
        display: block;
        text-decoration: none;
        color:#ecffee;
        background-color: #406da4;
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
        border-radius: 5px;
    }
    a:hover{
        background-color: #163964;
    }
    .hezi{
        img{
            width: 100%;
        }
    }
}
section.recent .title::after{
    display: table;
    clear: both;
    content:"";
}




section.news{
    margin: 40px;
    .col-12,.col-5,.col-7{
        padding: 0;
    }
    h3{
        font-size: 16px;
        color:#656565;
        line-height: 1.6em;
    }
    h4{
        font-size: 13px;
        color:#656565;
        line-height: 1.4em;
    }
    p{
        color:#656565;
        line-height: 1.6em;
        font-size: 12px;
    }

    .hezi{
        padding-bottom: 20px;
        img{
            width: 100%;
        }
        .col-7{
            padding-left: 10px;
        }
        .col-12{
            text-align: center;
            border:1px solid #e4e4e4;
            a{
                display: block;
                text-decoration: none;
                color:#406da4;
                line-height: 78px;
            }

            i{
                display: inline-block;
                width: 16px;
                height: 7px;
                background-image: url(../img/col-4-10.png);
            }
        }
        .col-12:hover{
            background-color: #e4e4e4;
        }
        time{
            float: right;
            font-size: 12px;
            color:#656565;
        }
    }
}

section.main-bottom{
    background-color: #406da4;
    margin-bottom: 60px;
    .hezi{
        margin-top: 100px;
        margin-bottom: 100px;
        color:#fff;
        img{
            float: left;
            margin-right: 15px;
        }
        h4{
            font-size: 20px;
        }
        p{
            font-size: 12px;
        }
    }
}

@media (max-width: 768px) {
    .main-bottom{
        .col-3{
            height: 150px;
            display:flex;
            justify-content:center;
            align-items:center;
        }
    }
}

section.footer-top{
    background-color: #ebebeb;
    h3{
        font-size: 26px;
        color:#706565;
        line-height: 96px;
    }
    p{
        font-size: 16px;
        color:#7b7f8f;
        line-height: 96px;
    }
    a{
        display: block;
        float: right;
        padding: 15px 18px;
        background-color: #406da4;
        font-size: 16px;
        text-decoration: none;
        color:#fff;
        border-radius:  5px;
        margin-top: 25px;
        margin-right: 15px;
    }
}
@media (max-width: 768px) {
    .footer-top{
        a{
            float: left;
        }
    }
}

section.footer-center{
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #49494b;
    color:#fff;
    .hezi{
        p{
            font-size: 12px;
            line-height: 1.5em;
            margin-top: 20px;
            margin-bottom: 25px;
        }
        ul{
            li{
                list-style: none;
                font-size: 12px;
            }
        }
        input{
            width: 267px;
            height: 48px;
            border-radius: 5px;
            border:0;
            background-color: #414143;
            color:#999999;
            font-size: 12px;
            padding-left: 20px;
            margin-bottom: 20px;
        }
        .anniu{
            display: inline-block;
            text-decoration: none;
            font-size: 16px;
            color:#fff;
            padding: 15px 6px;
            background-color: #406da4;
            border-radius: 5px;
        }
        .anniu:hover{
            background-color: #234570;
        }
        .icon{
            display:flex;
            justify-content:center;
            align-items:center;
            li{
                float: left;
                width: 50px;
                height: 50px;
                display:flex;
                justify-content:center;
                align-items:center;
                margin-right: 15px;
                margin-top: 20px;
                border-radius: 5px;
            }
        }
    }
    .bottom-nav{
        margin-top: 20px;
        li{
            list-style: none;
            line-height: 30px;
            a{
                text-decoration: none;
                color:#fff;
                font-size: 14px;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}
.icon::after{
    display: table;
    clear: both;
    contenr:"";
}
@media (max-width: 768px) {
    .footer-center{
        display:flex;
        justify-content:center;
        align-items:center;
            text-align: center;
        }
}


section.footer-bottom {
    text-align: center;
    font-size: 12px;
    color:#fff;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #323232;
}